* {
    font-family: 'Unbounded', cursive;
    box-sizing: border-box;
}
body {
    background: #F3F5FC;
}
header img {
    padding-left: 20px;
    padding-top: 30px;
}
main {
    width: 100%;
    display: flex;
}
.ladoIzquierdo {
    width: 70vw;
    padding-left: 20px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ladoDerecho {
    width: 30vw;
    position: relative;
    display: flex;
    justify-content: center;
}

/*Lado Izquierdo*/

.ingresarTexto{
    width: 570px;
    height: 400px;
    font-size: 22px;
    color: #343A40;
    font-weight: bold;
    outline: none;
    border-style: none;
    resize: none;
    background: transparent;  
}

.mensajeDeAdvertencia{
    font-size: 12px;
    font-weight: bold;
    padding: 10px 10px;
    margin-top: 140px;
    display: flex;
    align-items: center;
}
.mensajeDeAdvertencia img {
    margin-right: 5px;
}
.btn {
    width: 328px;
    height: 67px;
    padding: 15px; 
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px; 
    cursor: pointer;
}
#botEncriptar{
    background: #0A3871;
    color: white;
    border: none;
    margin-right: 24px;
}
#botDesencriptar{
    color: #0A3871;
    border: 1px solid #0A3871;
    background-color: transparent;
}

/*Lado derecho */

.cuadroDeResultado{
    width: 350px;
    height: 800px;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: -70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#muneco{
    width: 250px;
}
#textoCuadro1{
    font-size: 16px;
    font-weight: bold;
    color: black; 
}

#textoCuadro2{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: black; 
}
#CuadroDeTextoResultado{
    width: 90%;
    height: 595px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-align: center;
    outline: none;
    border-style: none;
    resize: none;
    background: transparent; 
    display: none;   
}

#botCopiar{
    margin-top: 50px;
    color: #0A3871;
    border: 1px solid #0A3871;
    display: none;
    justify-content: center;
    align-items: center; 
    background-color: transparent;
}

@media (max-width:1024px) {
    .btn {
        width: 270px;
    }
    .ladoIzquierdo {
        width: 60vw;        
    }
    .ladoDerecho {
        width: 40vw;
        
    }
}

@media (max-width:768px) {
    header img {
        padding: 0;
    }
    main {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .ladoIzquierdo {
        width: 100%;
        margin-bottom: 100px;
    }
    .ladoDerecho {
        width: 100%;
    }
    .mensajeDeAdvertencia{
        margin-top: 20px; 
    }
    .cuadroDeResultado {
        width: 688px;
        height: auto;
        padding: 40px 0;
    }
    #CuadroDeTextoResultado {
        height: auto;
    }
    #muneco {
        display: none;
    }
    #botCopiar {
        margin-top: 15px;
    }
}


