/* Loader */

.bodyL{
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(white,grey) ;
    height: 100vh;
    
}

.containerL{
    margin: auto;
    width: 960px;   
    padding: 5px; 
}

.cajaEncabezado{
    width: 100%; 
}

.textoEncabezado{
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #aaa;
    font-style: italic; 
    text-align: center; 
    margin-top: 8%;      
}

.continuar{
    margin: 15% 0px;
    text-align: center; 
    height: auto;  
}

.continuar h1{
    font-size: 20px;
    font-weight: bold;
}

canvas{
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-sizing: border-box;
    border: 10px double white;
}

.continuar p{
    font-size: 12px;
    font-weight: bold;
    margin-top: 5%;
}

.botonContinuar{
    margin: 20px 0% 1em;
    background: #D8DFE8;
    color: #0A3871;
    width: 30%;
    padding: 15px; /*Grosor del boton*/
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 24px; /* Realizar el bordeado */
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    transition: 1s all;
}

.botonContinuar:hover{
    background: #0A3871;
    color: #D8DFE8;
    transform: scale(1.2);
}


/* CSS para la página del Encriptador */

/* head */ 

body{
    background: linear-gradient(white,grey) ;
}

.headerPagina{
    
    padding: 5px 0; /*espaciamiento externo en el encabezado*/  
    height: 18vh;
   
}

.logo{
    width: 120px;
    position: absolute;
    top: 50px;
    left: 100px;
}

/*   

     Cuerpo

                */



body{
    margin: 0px;
    padding: 0px;   
}

.tamanoPagina{
    margin: auto;
    width: 940px;
    height: 650px;
    
}


.ladoIzquierdo{
    width: 65%;
    float: left;
    height: auto;
    margin-top: 15%;
    
}

.ladoDerecho{
    width: 35%;
    float: right;
    height: auto;
    margin-top: 5%;
    

}

/* Items lado izquierdo*/ 

.ingresarTexto{
    font-size: 22px;
    color: #343A40;
    font-weight: bold;
    outline: none;
    border-style: none;
    resize: none;
    background: transparent;  
    font-family: 'Unbounded', cursive; 
}

.mensajeDeAdvertencia{
    font-size: 12px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 10px;
    font-family: 'Unbounded', cursive;
}

#botEncriptar{
    background: #0A3871;
    color: white;
    width: 35%;
    padding: 15px; /*Grosor del boton*/
    margin-left: 10%;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 24px; /* Realizar el bordeado */
    cursor: pointer;
    font-family: 'Unbounded', cursive;
}

#botDesencriptar{
    background: #D8DFE8;
    color: #0A3871;
    width: 35%;
    padding: 15px; /*Grosor del boton*/
    margin-left: 5%;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 24px; /* Realizar el bordeado */
    cursor: pointer;
    font-family: 'Unbounded', cursive;
}

/* items Lado derecho */


 .cuadroDeResultado{
    width: 280px;
    height: 580px;
    border-radius: 20px;
    margin-left: 15px;
    background: white;
    
} 

#muneco{
    width: 200px;
    margin-left: 45px;
    margin-top: 55%;
    
}

#textoCuadro1{
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 1em 0;
    margin: 10px 10px 10px;
    text-align: center;
    font-family: 'Unbounded', cursive;  
}

#textoCuadro2{
    font-size: 12px;
    color: black;
    font-weight: bold;
    margin: auto 5px;
    text-align: center;
    font-family: 'Unbounded', cursive; 
}


#CuadroDeTextoResultado{
    font-size: 12px;
    color: black;
    font-weight: bold;
    margin-left: 10%;
    text-align: center;
    font-family: 'Unbounded', cursive; 
    outline: none;
    border-style: none;
    resize: none;
    background: transparent; 
    display: none;
        
}

#botCopiar{
    background: #D8DFE8;
    color: #0A3871;
    width: 65%;
    padding: 15px; /*Grosor del boton*/
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 24px; /* Realizar el bordeado */
    cursor: pointer;
    font-family: 'Unbounded', cursive;
    margin-left: 55px;
    margin-top: 28%;
    display: none;
}


.footerEncriptador{
    width: 100%;
    background: url(./imagenes/bg.jpg);
    text-align: center; 
}

nav li{
    display: inline-block;
    text-align: center;
    width: 8%;
    vertical-align: top;
    margin: 0 0.5%;
    padding: 20px 15px;   
}

.fa{
    color: white;
}

.fa:hover{
    color: darkgray;
    cursor: pointer;
}

.nombre{
    text-align: end;
    color: white;
    font-family: 'Unbounded', cursive;
}

/* Responsive */
@media screen and (max-width:480px){
    .tamanoPagina{
        width: auto;  
    }

    .logo{
        position:absolute;
        left: 0px;
    }

    .ladoIzquierdo, .ladoDerecho{
        width: 100%;
        
    }

    .ingresarTexto{
        margin-top: 25%;
        margin-left: 25px;
        height: 8em;
        width: 15em;
    }

    .mensajeDeAdvertencia{
        margin-left: 15px;
    }

    #botEncriptar, #botDesencriptar{
        font-size: 16px;
    }

    .cuadroDeResultado{
        width: 80%;
        height: auto;
        margin-left: 10%;  
    }
    #muneco{
        display: none;
    }

    #CuadroDeTextoResultado{
        width: 20em;
        height: 10em;
        margin-top: 0px;
        margin-left: 13%;
    }

    #botCopiar{
        margin-top: 0px;
    }
}